.btn{
margin-left: 1350px;
margin-top: 40px;
}

.btn > button{

width: 150px;
height: 50px;
border-radius: 5px;
background-color: #262626;
border-color: white;
color: white;
}

.header{

display: flex;
flex-direction: row;
gap: 40px;
margin-left:850px;
margin-top: -30px;
color: white;
}

body{

    background-color:#262626;
    margin: 0; 
    padding: 0; 
}

.logo{

    margin-left: 100px;
    margin-top: -20px;
}

.text{

margin-left: 100px;
margin-top: 201px;
font-size: x-large;
color: white;

}

.txt1{
color: #c429aa;

}

.txt2{
margin-top:-30px;
}

.txt3{
margin-top: -30px;
}

.pgh{
margin-left: 100px;
color: white;
}

.btn1{

margin-left: 100px;
margin-top: 70px;
}

.btn1 >button {
    width: 211px;
    height: 60px;
border-radius: 5px;
color: #292929;
background-color: #FFE259;

}

.img{

    margin-left: 1098px;
    margin-top:  -500px;

}

.img1{

    margin-left:800px ;
    margin-top: -451px
}


